*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

#MonIphone{
    width: 40%;
    border: 2px solid rgb(165, 183, 205);
    background-color: rgb(165, 183, 205);
    height: 723px;
    margin-top:40px ;
    float: left;
    margin-left: 30%;
    border-radius: 50px;
}

.premier{
    width: 28%;
}

.second{
    border: 7px solid black;
    width: 72%;
    float: left;
    margin-left: 28%;
    height: 720px;
    background: linear-gradient( rgb(10, 14, 52) ,rgb(38, 128, 240), rgb(10, 14, 52));
    background-color: rgb(10, 14, 52) ;
    position: relative;
    bottom: 33%;
    border-radius: 50px;
}

.lotCamera{
    width: 90%;
    border: 1px solid rgb(214, 213, 213);
    height: 150px;
    border-radius: 40px;
    background-color: rgb(210, 225, 248);
    box-shadow: 2px 2px 2px black;
    margin: 5px;
}

.lotCamera .rondNoir{
    width: 25%;
    background-color: rgb(3, 8, 12);
    height: 50px;
    margin: 20px;
    position: relative;
    left: 20px;
    border-radius: 100%;
    box-shadow: 12px 12px 12px rgb(202, 200, 200);
}

.lotCamera .rondNoirG{
    width: 25%;
    background-color: black;
    height: 50px;
    float: left;
    margin-left: 50%;
    position: relative;
    bottom: 23%;
    border-radius: 100%;
    box-shadow: 12px 12px 12px rgb(202, 200, 200);
}


.lotCamera .rondPetit{
    width: 10%;
    background-color: rgb(73, 78, 81);
    height: 20px;
    border: 1px solid rgb(159, 158, 158);
    position: relative;
    bottom: 45%;
    left: 58%;
    border-radius: 100%;
}

.lotCamera .rondBlanc{
    width: 10%;
    background-color: rgb(238, 231, 223);
    height: 20px;
    border: 1px solid rgb(159, 158, 158);
    position: relative;
    bottom: 90%;
    left:56%;
    border-radius: 100%;
}


 .second .ecran1{
    background-color: black;
    float: left;
    margin-top: 20%;
    margin-left:-40%;
    height: 200px;
    box-shadow: 10px 10px 10px rgb(38, 128, 240);
}

.second .ecran2{
    width: 55%;
    background-color: black;
    margin-top: 65%;
    float: left;
    margin-left:20%;
    box-shadow: 10px 10px 10px rgb(38, 128, 240);

}

.second .ecran3{
    background-color: black;
    margin-top: 70%;
    float: left;
    margin-left:-30%;
    height: 200px;
    box-shadow: 10px 10px 10px rgb(38, 128, 240);
 
}

.second .camera{
    width: 25%;
    height: 25px;
    background-color: rgb(1, 0, 0);
    float: left;
    margin-left: 35%;
}

.camera .torche{
    width: 10%;
    background-color: rgb(238, 231, 223);
    height: 10px;
    margin: 6px;
    border-radius: 100%;
}

.premier img{
    width: 70%;
    float: left;
    margin-left: 59%;
    position: relative;
    top: 150px;
}

.ecran1 .A{
    height: 170px;
    border: 3px solid rgb(96, 204, 256);
    float: left;
    margin-left: -36%;
    position: relative;
    top: 8%;
    box-shadow: 15px 15px 15px rgb(38, 128, 240);
}

.ecran2 .A{
    width: 87%;
    border: 3px solid rgb(96, 204, 256);
    float: left;
    margin-left: 6%;
    position: relative;
    top: 10%;
    box-shadow: 15px 15px 15px rgb(96, 204, 256) ;
}

.ecran3 .A{
    height: 170px;
    border: 3px solid rgb(96, 204, 256);
    float: left;
    margin-left: 6%;
    position: relative;
    top: 8%;
    box-shadow: 15px 15px 15px rgb(96, 204, 256);
}